*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gutter-lg: 4rem;
  --gutter-md: 3rem;
  --gutter-sm: 1rem;
  --gutter-xm: 1rem;
  --color-white: #fff;
  --color-black: #000;
}

body {
  color: var(--color-black);
  font: 16px verdana;
}

.banner {
  display: flex;
  height: 100vh;
  position: relative;
  padding-left: 40px;
  padding-bottom: 20px;
  align-items: flex-end;
  background-image: url("../images/img-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.button {
  /* margin: auto auto 64px 64px; */
  position: absolute;
  cursor: pointer;
  margin-top: auto;
  width: 80px;
  height: 80px;
}

.button-wrap-wrapper {
  width: 192px;
  height: 192px;
  border: 1px dashed #fff;
  margin: auto;
  display: flex;
}

.button-wrap {
  width: 128px;
  height: 128px;
  margin: auto;
  /* background: orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #fff;
}

.button__like-text {
  display: block;
  background-color: var(--color-black);
  color: var(--color-white);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease-out;
  font-size: 13px;
  font-weight: 700;
}
.button__num-text {
  display: block;
  transform: translateY(-130%);
  text-align: center;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--color-black);
}
.c-circle {
  position: absolute;
  left: 0;
  top: 0;
  background: yellow;
  z-index: 99;
}
